:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.title {
  font-family: Poppins;
  font-size: 2vw;
  font-weight: 500;
  text-align: left;
  color: #000000;
}

.container {
  flex-wrap: wrap;
  padding: 12px;
  border-radius: 12px;
}

.base-block {
  display: grid;
  grid-area: 3 / 1;
  gap: 20px;
}

.info-block {
  display: grid;
  gap: 20px;
}

.basic-info-block {
  grid-template-columns: minmax(124px, 1fr) 1fr 2fr;
  grid-template-rows: 1fr;
  box-sizing: border-box;
}

.experiences-block {
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
}

.footer-block {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.other-block {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 92px;
}


/*--------------------------------Profile Image-----------------------------*/

.profile-img-container {
  overflow: hidden;
  border-radius: 12px;
}

.profile-img {
  width: 100%;
  max-width: 500px;
}


/*--------------------------------Namebox-----------------------------*/

.namebox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  background-color: #F0F0F0;
}

.hello-message {
  font-family: Poppins;
  font-size: 1.5vw;
  font-weight: 500;
  text-align: left;
  color: #000000;
}

.name {
  font-family: Poppins;
  font-size: 2.5vw;
  font-weight: 600;
  text-align: left;
  color: #000000;
}

.job {
  font-family: Poppins;
  font-size: 2vw;
  font-weight: 500;
  text-align: left;
  color: #5C5C5C;
}

/*--------------------------------Languages-----------------------------*/

.languages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  background-color: #F0F0F0;
}

.languages-list {
  list-style-type:none;
  margin:0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  height: 70%;
  width: 100%;
}

.languages-list-item {
  font-family: Poppins;
  font-size: 1.5vw;
  font-weight: 500;
  color: #000000;
  text-align: left;
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 1fr;
}

.language-proficiency {
  background-color: #28D979;
  width: 100%;
  display: flex;
  height: 50%;
  border-radius: 3px;
}

/*------------------------------------Experience--------------------------------*/

.experience {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  background-color: #F0F0F0;
}

.experience-block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  border-radius: 10px;
  text-align: left;
  padding: 12px;
  width: calc(100% - 24px);
  margin-top: 20px;
}

.experience-block-common {
  background-color: #FFFFFF;
  color: #000000;
}

.experience-block-recent {
  background-color: #28D979;
  color: #FFFFFF;
}

.position-timeline {
  font-family: Poppins;
  font-size: 1vw;
  font-weight: 500;
  text-align: left;
  margin-bottom: 10px;
}

.position-timeline-recent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.most-recent {
  background-color: #7E731266;
  padding: 2px 12px 2px 12px;
  color: #DDF163;
  border-radius: 59px;
}

.position-title {
  font-family: Poppins;
  font-size: 1.5vw;
  font-weight: 500;
  text-align: left;
}

.position-jobinfo {
  display: flex;
  flex-direction: column;
}

.position-aboutjob {
  font-family: Poppins;
  font-size: 1vw;
  font-weight: 400;
  color: #3F3D3D;
}

.position-aboutjob-recent {
  font-family: Poppins;
  font-size: 1vw;
  font-weight: 400;
  color: #EBF9F2;
}

.position-content {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr;
}

.position-descriptions {
  margin:0;
  font-family: Poppins;
  font-size: 1vw;
  font-weight: 400;
  text-align: left;
}


